name: Build Test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Download Godot
      run: |
        wget https://github.com/godotengine/godot/releases/download/4.1.3-stable/Godot_v4.1.3-stable_linux.x86_64.zip
        unzip Godot_v4.1.3-stable_linux.x86_64.zip
        chmod +x Godot_v4.1.3-stable_linux.x86_64
    - name: Create project file
      run: |
        echo '[application]' > project.godot
        echo 'config/name="Test"' >> project.godot
        echo 'run/main_scene="res://test.tscn"' >> project.godot
    - name: Create export preset
      run: |
        echo '[preset.0]' > export_presets.cfg
        echo 'name="Android"' >> export_presets.cfg
        echo 'platform="Android"' >> export_presets.cfg
        echo 'runnable=true' >> export_presets.cfg
        echo 'embedded_android_sdk=true' >> export_presets.cfg
    - name: Build
      run: |
        ./Godot_v4.1.3-stable_linux.x86_64 --headless --export-debug "Android" test.apk
        ls -la *.apk
    - uses: actions/upload-artifact@v3
      with:
        name: test-apk
        path: test.apk
